<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_hm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_hm"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelManagmentApp">
        <activity
            android:name=".admin.AdminServicesRequestActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminBookedRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ServiceRequestActivity"
            android:exported="false" />

        <activity
            android:name=".customer.ContactHotelActivity"
            android:exported="false" />

        <activity
            android:name=".customer.ContactHotelActivity"
            android:exported="false" />

        <activity
            android:name=".customer.FoodMenuActivity"
            android:exported="false" />

        <activity
            android:name=".customer.CustomerHomeActivity"
            android:exported="false" />

        <activity
            android:name=".customer.MyBookingsActivity"
            android:exported="false" />

        <activity
            android:name=".customer.BookRoomActivity"
            android:exported="false" />

        <activity
            android:name=".customer.ViewRoomsActivity"
            android:exported="false" />

        <activity
            android:name=".admin.SetHotelContactDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".admin.SetFoodMenuActivity"
            android:exported="false" />

        <activity
            android:name=".admin.EditRoomActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HotelManagmentApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>